<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Slips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="8"
        ><ion-card class="ion-no-margin ion-padding ion-margin-vertical">
          <h1 class="title ion-no-margin ion-margin-bottom">
            Add Slip
            <span *ngIf="selectedMachine?.seqNumber"
              >( {{selectedMachine.seqNumber}} )</span
            >
          </h1>
          <form class="form-container" [formGroup]="form">
            <ion-list class="ion-no-padding">
              <ion-radio-group formControlName="type">
                <ion-item [disabled]="!selectedMachine">
                  <ion-label>In</ion-label>
                  <ion-radio slot="end" value="in"></ion-radio>
                </ion-item>

                <ion-item [disabled]="!selectedMachine">
                  <ion-label>Out</ion-label>
                  <ion-radio slot="end" value="out"></ion-radio>
                </ion-item>

                <ion-item [disabled]="!selectedMachine">
                  <ion-label>JackPot</ion-label>
                  <ion-radio slot="end" value="jackPot"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

            <div
              class="ion-padding-top"
              style="padding-bottom: 2px"
              [ngClass]="{disabled : !selectedMachine}"
            >
              <ion-label class="autoComplete-label">Customer</ion-label>
              <ng-select
                style="margin-top: 6px"
                [items]="customers"
                bindLabel="name"
                notFoundText="No records found"
                (keyup)="getCustomers($event)"
                (change)="onCustomerSelect($event)"
              >
              </ng-select>
            </div>

            <ion-item [disabled]="!selectedMachine">
              <ion-label position="floating">Credit</ion-label>
              <ion-input
                formControlName="credit"
                min="0"
                type="number"
              ></ion-input>
              <ion-icon
                name="card-outline"
                color="primary"
                slot="end"
              ></ion-icon>
            </ion-item>

            <ion-item [disabled]="!selectedMachine">
              <ion-label position="floating">Amount</ion-label>
              <ion-input
                formControlName="amount"
                min="0"
                type="number"
              ></ion-input>
              <ion-icon
                name="cash-outline"
                color="primary"
                slot="end"
              ></ion-icon>
            </ion-item>

            <!-- <ion-item style="padding-top: 8px">
              <ion-label>Active</ion-label>
              <ion-toggle
                mode="md"
                formControlName="isActive"
                slot="end"
              ></ion-toggle>
            </ion-item> -->

            <div class="variation-selector">
              <div class="sizes active-variation">
                <div
                  *ngFor="let item of currencyList"
                  [class.active]="selectedCurrency === item.id"
                  (click)="changeCurrency(item.id)"
                >
                  {{item.code}}
                </div>
              </div>
            </div>

            <div class="variation-selector" style="margin-top: 2.6rem">
              <div class="sizes active-variation">
                <div
                  *ngFor="let item of paymentTypes"
                  [class.active]="selectedPaymentType === item"
                  (click)="changePaymentType(item)"
                  style="text-align: center"
                >
                  {{item}}
                </div>
              </div>
            </div>

            <ion-button
              expand="block"
              class="ion-margin-top main-button"
              (click)="submitForm()"
              >Submit</ion-button
            >
          </form>
        </ion-card></ion-col
      >
      <ion-col size="4" class="machine-list">
        <ion-searchbar
          [debounce]="0"
          [(ngModel)]="searchQuery"
          (ionChange)="search($event)"
          showClearButton="never"
          inputmode="numeric"
          mode="ios"
          class="ion-no-padding"
        ></ion-searchbar>
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-list>
            <ion-item
              button
              (click)="handleListClick(item)"
              class="ion-no-padding ion-text-center"
              *ngFor="let item of copyOfMachineList"
              [ngClass]="{'active-machine': item == selectedMachine}"
            >
              <ion-label>{{item.seqNumber}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
