.seperator {
  hr {
    margin-top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    background: #e2e2e2;
  }
}

.variation {
  padding: 16px;

  ion-segment-button {
    color: #2a2a2a;
  }
}

.variation-selector {
  margin-top: 16px;
  display: flex;
  position: relative;

  .active-variation {
    opacity: 1 !important;
    z-index: 1 !important;
  }

  .submitted,
  .history,
  .pending {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 0;
    padding-bottom: 30px;
  }
}


