<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="variation">
    <ion-segment
      (ionChange)="segmentChanged($event)"
      [value]="activeVariation"
      mode="ios"
    >
      <ion-segment-button value="pending">
        <ion-label
          ><ion-icon name="timer-outline"></ion-icon>&nbsp;Pending</ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="submitted">
        <ion-label
          ><ion-icon name="send-outline"></ion-icon>&nbsp;Submitted</ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label
          ><ion-icon name="reload-outline"></ion-icon> &nbsp;History</ion-label
        >
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="variation-selector">
    <div
      class="pending"
      [class.active-variation]="activeVariation == 'pending'"
    >
      <ngx-datatable
        style="width: 95%"
        class="material"
        [rows]="movies"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [limit]="8"
        [selected]="selected"
        [selectionType]="SelectionType.checkbox"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)="onSelect($event)"
      >
        <ngx-datatable-column
          [width]="20"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true"
        >
        </ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Genre"></ngx-datatable-column>
        <ngx-datatable-column name="Company"></ngx-datatable-column>
        <ngx-datatable-column name="Delete">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ion-button>
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button> </ng-template
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div
      class="submitted"
      [class.active-variation]="activeVariation == 'submitted'"
    >
      SUBMITTED
    </div>
    <div
      class="history"
      [class.active-variation]="activeVariation == 'history'"
    >
      HISTORY
    </div>
  </div>
</ion-content>
